
<div class = 'title'>Categories</div>
<%= link_to 'Create Category', new_category_path() %>
<br>

<div class = 'title'>Product</div>
<%= link_to 'Add A Product', new_product_path %>
<br>

<div class = 'title'>Members</div>
<%= link_to 'Fees' %>
<br>
<%= link_to 'See Members' %>
<br>
