/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	font-family: "MuseoSans300",sans-serif;
}

a{
	text-decoration: none;
}

.header-container{
    margin:50px 100px 0px 100px;
	background-color:#000000;
	border-radius:25px;
	padding:23px;
}


.header-links {
	font-size: x-large;
	color: white;
	vertical-align: center;
	/*margin-right: 30px;*/
}

.header-login{
	color:white;
	text-align: right;
    font-size: medium;
    position: relative;
    bottom: 40px;
}

.header-container a{
	color:white;
}

.logo{

}

.container{
    margin:20px 120px 25px 120px;

}

.title{
		font: bold 30px Arial,Helvetica,Sans-serif;
		margin-bottom: 20px;
}

.center{
	margin-left: auto;
	margin-right: auto;
}